<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.meituan.dao.TestUserMapper" >
    <resultMap id="testUservo" type="com.spring.meituan.vo.TestUservo">
        <result column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name
    </sql>
    <select id="listTestUser" resultMap="testUservo">
        SELECT *
        FROM tb_user
    </select>
</mapper>