<component name="ArtifactManager">
  <artifact type="war" name="Spring-startup:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring-Startup.war">
      <element id="artifact" artifact-name="Spring-startup:war exploded" />
    </root>
  </artifact>
</component>