<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-startup:war exploded">
    <output-path>$PROJECT_DIR$/target/Sparing-Startup</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring-startup" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mortbay.jetty:jetty:7.0.0.pre4" />
          <element id="library" level="project" name="Maven: org.mortbay.jetty:servlet-api:3.0.pre4" />
          <element id="library" level="project" name="Maven: org.mortbay.jetty:jetty-util:7.0.0.pre4" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring-startup/web/Web" />
    </root>
  </artifact>
</component>